* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* asosiy kop iwlatilgan font shotga yozib qoyiladi */

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* bu dgani birinchi topilmasa ikkinchi font , uyam toplmasa keyngisi, wuningdek agar wrift nomi bitta bosa qowtrnoqga omasdan yozsayam boladi */
    /* internetdan link qilinsa global oliw hsoblanadi, internet ochib qosa wriftla iwlami qoladi */

}

/* fonspace.com yaxwi sayt fontlaga */
/* lokaniy ulash */
@font-face {
    font-family: "DripOctober";
    /* ozimiz wrift nomlimz */
    src: url(./assets/fonts/drip-october-font/DripOctober-vm0JA.ttf);
    /* woff2,otf format ttfga qaraganda tezro yuklanadi , uwa bosa iwlatgan yaxwi, konvert qb ogirsayam yaxwi */
}



/*  
font-family: "Merriweather", serif;
font-family: "Jacquard 24", system-ui;
font-family: "Jersey 25", sans-serif;

san-seriflaga qirrasi yoq wriftla kiradi
serifda qirrasi bor

*/

header {
    background-color: pink;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav .nav__logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-family: "Jacquard 24", system-ui;
}

.nav>.nav__list {
    display: flex;
    column-gap: 5rem;
    list-style-type: none;
}

.nav>.nav__list>.nav__list--item {
    text-transform: uppercase;
}

.nav>.nav__list>.nav__list--item::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s ease;
    /* background-color: #ffffff00; birinchi usul shaffolini 0 foiz qiliw */
    /* ikkinchisi w 0% qib transition bn oborw */
}

.nav>.nav__list>.nav__list--item:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;

}

.nav>.nav__list>.nav__list--item>.nav__list--item-link {
    color: white;
    text-decoration: none;
    font-family: "Merriweather", serif;
}


h3 {
    font-family: "DripOctober";
}