* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* asosiy kop iwlatilgan font shotga yozib qoyiladi */

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* bu dgani birinchi topilmasa ikkinchi font , uyam toplmasa keyngisi, wuningdek agar wrift nomi bitta bosa qowtrnoqga omasdan yozsayam boladi */
    /* internetdan link qilinsa global oliw hsoblanadi, internet ochib qosa wriftla iwlami qoladi */

}

/* fonspace.com yaxwi sayt fontlaga */
/* lokaniy ulash */
@font-face {
    font-family: "DripOctober";
    /* ozimiz wrift nomlimz */
    src: url(./assets/fonts/drip-october-font/DripOctober-vm0JA.ttf);
    /* woff2,otf format ttfga qaraganda tezro yuklanadi , uwa bosa iwlatgan yaxwi, konvert qb ogirsayam yaxwi */
}



/*  
font-family: "Merriweather", serif;
font-family: "Jacquard 24", system-ui;
font-family: "Jersey 25", sans-serif;

san-seriflaga qirrasi yoq wriftla kiradi
serifda qirrasi bor

*/

header {
    background-color: pink;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav .nav__logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-family: "Jacquard 24", system-ui;
}

.nav>.nav__list {
    display: flex;
    column-gap: 5rem;
    list-style-type: none;
}

.nav>.nav__list>.nav__list--item {
    text-transform: uppercase;
}

.nav>.nav__list>.nav__list--item::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s ease;
    /* background-color: #ffffff00; birinchi usul shaffolini 0 foiz qiliw */
    /* ikkinchisi w 0% qib transition bn oborw */
}

.nav>.nav__list>.nav__list--item:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;

}

.nav>.nav__list>.nav__list--item>.nav__list--item-link {
    color: white;
    text-decoration: none;
    font-family: "Merriweather", serif;
}


h3 {
    font-family: "DripOctober";
    margin-top: 300px;
}

.wrapper {
    border: 2px solid blue;
}

.card {
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.47);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: all 4s ease;
    /* transform: translateX(100px); */

}

.card:hover {
    /* transform: rotate(90deg); */
    /* rotate(+-?deg) o'giriladi qayiladi */
    /* transform: translate(100px, 300px); */
    /* tX bu ongga yuradi
    t(-X) bu chapga yuradi 
    tY bu pasga tuwadi
    t(-Y) bu tepaga kotariladi
    translate elemntimizzi kochirib beradi
    translate (x, y) shorthand
    */

    /* transform: scale(2, 3); */
    /* scale ? barobar kotta qiberadi px yozilmidi ,faqat son 1, 1.5 i tak dalye */
    /* scale(x, y) */


    /* transform: skew(-20deg, 0deg); */
    /* skew(10deg, 20deg) bosa 10 deg orqaga elementimiz qulab tuwvotti, 20deg ewi chapdan ochilvotti*/
    /* skew(-10deg, -20deg) bosa -10 deg oldinga elementimiz qulab tuwvotti, -20deg ewi ongdan ochilvotti*/
    /* skew 3d format наклон элемента*/

    transform: skew(50deg, 0deg) rotate(10deg) translate(100px, 200px) scale(1.5, 1.5);
    /* hammasini bittada iwlatsayam b0ladi */


}