*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    border: 2px solid black;
    height: 100vh;
    /* grid-template-columns: 300px 200px 300px; */
    /* ustun eni */
    /* grid-template-columns: repeat(4, 300px); */
    /* grid-template-columns: repeat(4, 300px 100px); */
    /* grid-template-columns: repeat(4, 25%); */

    /* layout  */
    /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 100vh 70px;
    /* auto-fit bzaga responsive qberadi */
    /* auto-fill bu faqat berilgan px boyicha iwlidi
     auto-fit bu berlgan pxga ortiqcha joy bosa uwanyam qowvoradi hisob kitob qb, to est frakwnga otib ketadi */
    /* grid-template-rows: 20px 50px 100px 150px; */
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 20px;
    padding: 20px;
    margin-top: 50px;

    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer"
    ;

}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    font-size: 32px;
    color: white;
    /* grid cordinatasini aniqlash */
}

.grid-item:nth-child(1) {
    grid-area: header;
    background-color: darkseagreen;
}

.grid-item:nth-child(2) {
    grid-area: aside;
}

.grid-item:nth-child(3) {
    grid-area: main;
    background-color: lightblue;
}

.grid-item:nth-child(4) {
    grid-area: footer;
    background-color: wheat;
}